@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --merriweather-f: 'Merriweather', serif;
  --inter-f: 'Inter', sans-serif;
  --gray-text: rgba(7, 2, 17, 0.6);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
}

#container {
  width: 100%;
}

/* Common Styles */
.common-width {
  width: 95%;
  max-width: 1200px;
}
section {
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}
.section-bg {
  width: 100%;
  position: relative;
}
.section-bg img {
  width: 100%;
}
.com-heading {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.sub-heading {
  font-size: 2rem;
  font-weight: 500;
}
.gray-text {
  color: var(--gray-text);
  font-family: var(--inter-f);
  font-size: 1.1rem;
  font-weight: 400;
}
.merriweather-font {
  font-family: 'Merriweather', serif;
}
.inter-font {
  font-family: 'Inter', sans-serif;
}

/* Header */
/* Banner */
.banner-sec {
  margin-top: 1.5rem;
}
.banner-content {
  width: 100%;
  color: white;
  background-image: linear-gradient(
    180deg,
    rgb(7, 2, 17),
    rgba(7, 2, 17, 0) 100%
  );
  border-radius: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-sub-heading {
  font-weight: 700;
  font-size: 32px;
}
.banner-heading {
  text-align: center;
  font-weight: 900;
  font-size: 72px;
}

/* Main */
/* Categories */
.categories-content {
  width: 62%;
  margin: 0 auto;
  text-align: center;
}
.categories-content h1 {
  color: red;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 3rem;
}
.categories-content p {
  color: red;
  margin-bottom: 1rem;
}
.categories-content h3 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 3rem;
}
.categories-content img {
  width: 100%;
}

/* Welcome Party */
.welcome-content-p {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    90deg,
    rgb(7, 2, 17),
    rgba(7, 2, 17, 0) 100%
  );
  border-radius: 1rem;
}
.welcome-content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.welcome-desc {
  width: 64%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: white;
}
.welcome-desc h1 {
  font-family: var(--merriweather-f);
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 5px;
  margin-bottom: 1.5rem;
}
.welcome-desc p {
  font-family: var(--inter-f);
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 2.5rem;
}
.welcome-desc button {
  color: white;
  background-color: transparent;
  font-family: var(--inter-f);
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  transition: 0.3s;
}
.welcome-desc button:hover {
  box-shadow: 1px 1px 2px lightgray;
  text-shadow: 2px 2px 2px black;
}
.welcome-img {
  width: 36%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.welcome-img img {
  width: 85%;
}

/* Join Address */
.join-address {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join-address p {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  padding: 0.4rem 0;
}
.join-address p span {
  color: red;
}
.join-address button {
  color: white;
  background-color: red;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 2.5rem;
  cursor: pointer;
  transition: transform 0.3s;
}
.join-address button:hover {
  transform: scale(1.1);
}

/* Coming Soon */
.coming-soon-sec {
  display: flex;
}
.cs-div-1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cs-div-1 h3 {
  color: red;
  margin-bottom: 1rem;
}
.cs-div-1 h1 {
  font-weight: 900;
}
.cs-div-2 {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cs-div-2 img {
  width: 60%;
  padding: 1.6rem;
  border: 0.8rem solid red;
  border-radius: 50%;
}
.cs-div-3 {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.cs-div-3 h1 {
  color: red;
  font-size: 2.8rem;
  font-weight: 700;
}
.cs-div-3 p {
  margin-top: 1rem;
}
.cs-div-3 img {
  width: 6.8rem;
  margin-top: 2rem;
}

/* Holidays Section */
.holidays-sec {
  text-align: center;
}
.holidays-sec h6 {
  color: rgb(7, 2, 17);
}
.holidays-sec h1 span {
  color: red;
}
.holidays-sec h1 {
  font-size: 4rem;
  font-weight: 900;
}
.holi-img-container {
  width: 100%;
  display: flex;
  position: relative;
}
.holi-div-1 {
  width: 60%;
  padding-bottom: 2%;
}
.holi-img-1 {
  width: 85%;
  margin-top: 4rem;
  z-index: 1;
}
.holi-div-2 {
  width: 40%;
}
.holi-img-2 {
  width: 60%;
  margin-top: 15%;
  margin-left: 20%;
}
.holi-img-0 {
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/* Gift Section */
.gift-sec h6 {
  color: red;
  margin-bottom: 0.8rem;
}
.gift-sec p {
  margin-bottom: 2rem;
  margin-top: 1.8rem;
}
.gift-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
.gift-container img {
  width: 32%;
  margin-top: 2%;
}

/* Subscribe Section */
.subscribe-sec {
  border: 1px solid black;
  background-color: rgba(255, 0, 0, 0.05);
  text-align: center;
  border-radius: 1rem;
  padding: 4.5rem 0;
}
.subscribe-sec img {
  width: 10%;
  margin-bottom: 2rem;
}
.subscribe-sec p {
  width: 70%;
  margin: 2rem auto 3rem auto;
}
.subscribe-sec form {
  width: 50%;
  margin: 0 auto;
}
.subscribe-sec form input {
  color: gray;
  width: 67%;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem 0.5rem 1rem 1.5rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.subscribe-sec form input:focus {
  color: red;
  outline: none;
}
.subscribe-sec form button {
  background-color: red;
  color: white;
  width: 33%;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  cursor: pointer;
}

/* Media */
@media screen and (max-width: 992px) {
  /* Common Styles */
  .com-heading {
    font-size: 2rem;
    margin-bottom: 0.8rem;
  }
  .sub-heading {
    font-size: 1.5rem;
  }
  .gray-text {
    font-size: 0.9rem;
  }

  /* Banner */
  .banner-sub-heading {
    font-size: 22px;
  }
  .banner-heading {
    font-size: 48px;
  }

  /* Categories */
  section {
    margin-bottom: 80px;
  }
  .categories-content h1 {
    font-size: 58px;
    margin-bottom: 2rem;
  }
  .categories-content p {
    margin-bottom: 0.7rem;
  }
  .categories-content h3 {
    font-size: 32px;
    margin-bottom: 2rem;
  }

  /* welcome-desc */
  .welcome-desc h1 {
    font-size: 45px;
    letter-spacing: 3px;
    margin-bottom: 1rem;
  }
  .welcome-desc p {
    font-size: 11px;
    margin-bottom: 1.5rem;
  }
  .welcome-desc button {
    font-size: 14px;
    padding: 0.3rem 0.7rem;
    border-radius: 0.3rem;
    margin-top: 2rem;
  }
  /* Join Address */
  .join-address {
    height: 375px;
  }
  .join-address p {
    font-size: 25px;
    padding: 0.3rem 0;
  }
  .join-address button {
    padding: 0.9rem 1.8rem;
    font-size: 1rem;
    margin-top: 2.2rem;
  }

  /* Coming Soon */
  .cs-div-1 h3 {
    margin-bottom: 0.8rem;
  }
  .cs-div-2 img {
    padding: 1.1rem;
    border: 0.6rem solid red;
  }
  .cs-div-3 h1 {
    font-size: 2rem;
  }
  .cs-div-3 p {
    margin-top: 0.8rem;
  }
  .cs-div-3 img {
    width: 5rem;
    margin-top: 1.5rem;
  }

  /* Holidays Section */
  .holidays-sec h1 {
    font-size: 3rem;
  }
  .holi-img-1 {
    margin-top: 3rem;
  }

  /* Subscribe Section */
  .subscribe-sec {
    padding: 3rem 0;
  }
  .subscribe-sec img {
    margin-bottom: 1.5rem;
  }
  .subscribe-sec p {
    margin: 1.5rem auto 2rem auto;
  }
  .subscribe-sec form input {
    font-size: 0.8rem;
    padding: 0.8rem 0.4rem 0.8rem 1.2rem;
  }
  .subscribe-sec form button {
    font-size: 0.8rem;
    padding: 0.8rem 0;
  }
}
@media screen and (max-width: 768px) {
  /* Common Styles */
  .com-heading {
    font-size: 1.6rem;
    margin-bottom: 0.7rem;
  }
  .sub-heading {
    font-size: 1rem;
  }
  .gray-text {
    font-size: 0.7rem;
  }

  /* Banner */
  .banner-sub-heading {
    font-size: 19px;
  }
  .banner-heading {
    font-size: 36px;
  }

  /* Categories */
  section {
    margin-bottom: 60px;
  }
  .categories-content h1 {
    font-size: 45px;
    margin-bottom: 1.5rem;
  }
  .categories-content p {
    margin-bottom: 0.6rem;
  }
  .categories-content h3 {
    font-size: 25px;
    margin-bottom: 1.5rem;
  }

  /* welcome-desc */
  .join-address {
    height: 400px;
  }
  .welcome-desc h1 {
    font-size: 33px;
    letter-spacing: 1px;
    margin-bottom: 0.7rem;
  }
  .welcome-desc p {
    font-size: 11px;
    margin-bottom: 1.2rem;
  }

  /* Join Address */
  .join-address {
    height: 310px;
  }
  .join-address p {
    font-size: 20px;
    padding: 0.2rem 0;
  }
  .join-address button {
    padding: 0.8rem 1.6rem;
    font-size: 0.9rem;
    margin-top: 2rem;
  }

  /* Coming Soon */
  .cs-div-1 h3 {
    margin-bottom: 0.7rem;
  }
  .cs-div-2 img {
    padding: 5px;
    border: 5px solid red;
  }
  .cs-div-3 h1 {
    font-size: 1.8rem;
  }
  .cs-div-3 p {
    margin-top: 0.7rem;
  }
  .cs-div-3 img {
    width: 4.5rem;
    margin-top: 1.2rem;
  }

  /* Holidays Section */
  .holidays-sec h1 {
    font-size: 2.5rem;
  }
  .holi-img-1 {
    margin-top: 2.5rem;
  }

  /* Subscribe Section */
  .subscribe-sec {
    padding: 2.5rem 0;
  }
  .subscribe-sec img {
    margin-bottom: 1.2rem;
  }
  .subscribe-sec p {
    margin: 1.2rem auto 1.5rem auto;
  }
  .subscribe-sec form input {
    font-size: 0.7rem;
    padding: 0.7rem 0.3rem 0.7rem 1rem;
  }
  .subscribe-sec form button {
    font-size: 0.7rem;
    padding: 0.7rem 0;
  }
}
@media screen and (max-width: 640px) {
  /* Common Styles */
  .com-heading {
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
  }
  .sub-heading {
    font-size: 0.75rem;
  }
  .gray-text {
    font-size: 0.6rem;
  }

  /* Banner */
  .banner-sub-heading {
    font-size: 12px;
  }
  .banner-heading {
    font-size: 24px;
  }
  .categories-content {
    width: 75%;
  }

  /* Categories */
  section {
    margin-bottom: 40px;
  }

  /* welcome-desc */
  .welcome-desc h1 {
    font-size: 20px;
    letter-spacing: 0;
    margin-bottom: 0.5rem;
  }
  .welcome-desc p {
    margin-bottom: 0.8rem;
  }
  .welcome-desc button {
    font-size: 10px;
    padding: 0.2rem 0.6rem;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 2px lightgray;
    text-shadow: 2px 2px 2px black;
  }

  /* Join Address */
  .join-address {
    height: 245px;
  }
  .join-address p {
    font-size: 1rem;
    padding: 0.1rem 0;
  }
  .join-address button {
    padding: 0.6rem 1.2rem;
    font-size: 0.8rem;
    margin-top: 1.6rem;
  }

  /* Coming Soon */
  .cs-div-1 h3 {
    margin-bottom: 0.6rem;
  }
  .cs-div-3 h1 {
    font-size: 1.6rem;
  }
  .cs-div-3 p {
    margin-top: 0.6rem;
  }
  .cs-div-3 img {
    width: 3.5rem;
    margin-top: 1rem;
  }

  /* Holidays Section */
  .holidays-sec h1 {
    font-size: 2rem;
  }
  .holi-img-1 {
    margin-top: 2rem;
  }

  /* Gift Section */
  .gift-sec h6 {
    margin-bottom: 0.4rem;
  }
  .gift-sec p {
    margin-bottom: 1.2rem;
    margin-top: 1rem;
  }
  .gift-container img {
    width: 49%;
  }

  /* Subscribe Section */
  .subscribe-sec {
    padding: 1.8rem 0;
  }
  .subscribe-sec img {
    margin-bottom: 1rem;
  }
  .subscribe-sec p {
    margin: 1rem auto 1.2rem auto;
  }
  .subscribe-sec form input {
    font-size: 0.6rem;
    padding: 0.5rem 0.2rem 0.5rem 0.8rem;
  }
  .subscribe-sec form button {
    font-size: 0.5rem;
    padding: 0.5rem 0;
  }
}
@media screen and (max-width: 360px) {
  /* Banner */
  .com-heading {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .banner-sub-heading {
    font-size: 0.5;
  }
  .banner-heading {
    font-size: 12px;
  }

  /* Categories */
  section {
    margin-bottom: 20px;
  }
  .categories-content h1 {
    font-size: 22px;
    margin-bottom: 0.8rem;
  }
  .categories-content p {
    margin-bottom: 0.5rem;
  }
  .categories-content h3 {
    font-size: 12px;
    margin-bottom: 0.8rem;
  }

  /* welcome-desc */
  .welcome-desc h1 {
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }
  .welcome-desc p {
    margin-bottom: 0.5rem;
  }
  .welcome-desc button {
    font-size: 8px;
  }

  /* Join Address */
  .join-address {
    height: 180px;
  }
  .join-address p {
    font-size: 0.7rem;
    padding: 1.2px 0;
  }
  .join-address button {
    margin-top: 0.5rem;
    font-size: 0.6rem;
    padding: 0.4rem 0.8rem;
  }

  /* Coming Soon */
  .cs-div-1 {
    text-align: center;
  }
  .cs-div-1 h3 {
    margin-bottom: 0.5rem;
  }
  .cs-div-1 p {
    text-align: justify;
  }
  .cs-div-2 img {
    padding: 2px;
    border: 2px solid red;
  }
  .cs-div-3 {
    text-align: center;
  }
  .cs-div-3 h1 {
    font-size: 1.2rem;
  }
  .cs-div-3 p {
    text-align: justify;
    margin-top: 0.5rem;
  }
  .cs-div-3 img {
    width: 3rem;
    margin-top: 0.8rem;
  }

  /* Holidays Section */
  .holidays-sec h1 {
    font-size: 1.5rem;
  }
  .holi-img-1 {
    margin-top: 1rem;
  }

  /* Subscribe Section */
  .subscribe-sec form input {
    font-size: 0.5rem;
    padding: 0.4rem 0.1rem 0.4rem 0.6rem;
  }
  .subscribe-sec form button {
    font-size: 0.4rem;
    padding: 0.4rem 0;
  }
}
